.detailedProduct {
  display: flex;
  justify-content: space-evenly;
}

.detailedLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailedRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detailedRight p {
  width: 400px;
  padding: 16px;
  font-size: 20px;
  text-align:justify;
}

.detailedPhotoWrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 400px;
  max-width: 400px;
  background-color: rgb(240, 240, 240);
}

.detailedPhoto {
  max-height: 400px;
  max-width: 400px;
}

.detailedPrice {
  font-weight: 600;
  font-size: 32px;
  color: #f91155;
}

.control {
  display: flex;
  align-items: center;
  height: 43px;
}

.control span {
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 30px;
  border: none;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.control button {
  padding: 0;
  width: 34px;
  height: 34px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.control button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
