.product {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  height: 250px;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

.image {
  max-height: 250px;
  max-width: 225px;
}

.productInfo {
  padding-top: 10px;
  height:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.title {
  height: 64px;
  font-weight: 600;
  font-size: 16px;
}

.price {
  font-weight: 600;
  font-size: 28px;
  color: #f91155;
}

.control {
  display: flex;
  align-items: center;
}

.control span {
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 30px;
  border: none;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.control button {
  padding: 0;
  width: 34px;
  height: 34px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.control button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
